ul {
    li {
        color: pink;
    }
}

ul {
    li {
        color: pink;
    }
}

ul {
    li {
        color: pink;
    }
}

ul {
    li {
        color: pink;
    }
}

ul {
    li {
        color: pink;
    }
}

ul {
    li {
        color: pink;
    }
}

ul {
    li {
        color: blue;
    }
}

p,
* {
    color: green;
}